<%= t "orders.hi" %> <h1><%= @user.name %></h1>
<p><%= t "orders.you_have_a_new_order" %></p>
<hr>
<h3><b><%= t "orders.info" %></b></h3>
<div class="form-group">
  <p><b><%= t "user.Name" %>: </b><%= @user.name %></p>
  <p><b><%= t "user.Email" %>: </b><%= @user.email %></p>
  <p><b><%= t "user.Phone" %>: </b><%= @user.phone %></p>
  <p><b><%= t "user.Address" %>: </b><%= @address %></p>
</div>
  <div class="container box-signup">
    <% @order_details.each do |item| %>
      <div class="row well">
        <div class="col-sm-7">
          <h3><%= item.product.name %></h3>
        </div>
        <div class="col-sm-5">
          <div class="pull-right">
            <%= hidden_field :product_id, value: item.product.id %>
            <h5><%= number_to_currency item.price, locale: :vi %></h5>
            <div class="form-group">
              <span>Quantity: <%= item.quantity %></span>
            </div>
            <span><%= t "orders.price" %>: <%= number_to_currency item.total, locale: :vi %></span>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row pull-right">
      <h3><b><%= t "orders.total_price" %>: <%= number_to_currency @total_price, locale: :vi %></b></h3>
    </div>
    <br><br>
    <hr>
  </div>
