<div class="row">
  <div class="col-md-5 col-lg-5">
    <%= image_tag @store.image.url, class: "w-100" %>
  </div>
  <div class="col-md-6 col-lg-6 store-info">
    <div class="name-store"><%= @store.name %></div>
    <div class="address-store"><%= @store.address %></div>
    <div class="status-store">
      <div class="status-store-title"><%= t "store.status" %>:&nbsp;</div>
      <% if @store.opening? %>
        <span class="store-open"> <%= t "store.opening" %></span>
      <% else %>
        <span class="store-close"> <%= t "store.closing" %></span>
      <% end %>
    </div>
    <div class="store-short-description"><%= @store.short_description %></div>
    <div class="store-description"><%= @store.description %></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3><%= t "category.list_categories" %></h3>
    <ul class="list-category">
      <% @categories.each do |category| %>
        <li class="item"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>
</div>
