<div class="row">
  <div class="col-md-12">
    <h1>
      <% if @category %>
        <%= t "category.title" %>: <%= @category.name %>
      <% else %>
        <%= t "home_page.Search_for" %>: <%= params[:keyword] %>
      <% end %>
    </h1>
  </div>
</div>
<div class="row list-products">
  <% @products.each do |product| %>
  <div class="col-md-3 product">
    <div class="inner-product">
      <%= image_tag product.image.url, class: "w-100" %>
      <h4 class="title"><%= product.name %></h4>
      <span class="price"><%= number_to_currency product.price, locale: :vi %></span>
      <span class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </span>
      <%= link_to product.store.name, store_detail_path(product.store), class: "store-name" %>
    </div>
    <%= form_for(@order_detail, remote: true) do |f| %>
      <%= f.hidden_field :store_id, value: product.store.id %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.hidden_field :quantity, value: 1 %>
      <%= button_tag class: "fa-order" do%>
        <i class="fa fa-plus-circle" title = "<%= t "store.add_cart" %>"></i>
      <%  end %>
    <% end %>
  </div>
  <% end %>
  <%= paginate @products %>
</div>
